@using IndustrialMachinery.Components
@using IndustrialMachinery.Core
@using IndustrialMachinery.Services
@inherits LayoutComponentBase



     

            <NavBar> </NavBar>
             <div class="container" style=" background-color: #97b9b2">
            <div class="sidenav ">
                <h1 style="margin-left:15px">Dashboard</h1>
                <DailyStatistics >  </DailyStatistics>
            </div>
            <div class=" container" >
                <div class="csetting">
                @Body
                </div>
            </div>
            </div>

