<nav class="navbar navbar-expand box-shadow">
                <div class="collapse navbar-collapse" >
                    
                    
                    <ul class="navbar-nav  margin">
                        <li class="nav-item">
                            <img class="img-responsive" id="logo" src="/image/logo.png" />
                        </li>
                        <li class="nav-item">
                            <h3 class="title">Management Central </h3>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link Dashboard" href="/" > Show Dashboard</a>
                        </li>
                    </ul>
                </div>
            </nav>
             