
<div class="dailystatisticscontainer" >
<h3>Daily Statistics</h3>
<p>Total Devices : <label class="totalmachines">@TotalMachines </label></p>
<p>Total Devices Online: <label class="totalmachines">@TotalMachinesOn</label></p>
</div>



